[Unit]
Description=Python Logger Arexx Daemon
After=network.target nss-lookup.target time-sync.target dev-arexx.device
BindsTo=dev-arexx.device

[Service]
Type=simple
RuntimeDirectory=pylarexx
ExecStart=/usr/local/pylarexx/bin/python3 /usr/local/pylarexx/bin/pylarexx -f /etc/pylarexx.yml
WorkingDirectory=/usr/local/pylarexx
User=pylarexx
Group=pylarexx

[Install]
WantedBy=multi-user.target
